.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#cancerologie,
#chirurgie,
#geriatrie,
#maternite,
#medecine,
#pediatrie,
#urgences {
    border-style: solid;
    border-color: #0091ff;
    background-color: #0091ff;
    color: white;
    font-weight: bold;
    margin-left: 1%;
}

#annuaire,
#recherche {
    margin-right: 70% margin-left: 5%;
}

#icones {
    margin-top: 10%;
}
