body, html{
	width: 100%;
	font-size: 100%;
}

.logo_max{
	width: 200px;
	margin-top: -50px;
}

.logo_min{
	height: 30px;
}

.logoCHAC{
	margin-right: 20px;
}

.navigation, .navbar{
	background-color: #4792b2 !important;
	height: 60px;
}

.titre{
	padding-left: 25px;
	color: white;
	background-color: #4792b2;
	margin: 0px;
}

.h2g2{
	font-size: 165%;
	background-color: #4792b2;
	margin: 0px;
	color: white;
	padding-left: 250px;
}

.flexRow{
	display: flex;
	flex-direction: row;
}

.navTypo{
	color: white;
	font-size: 150%;
	white-space: nowrap;
}


.navbtn{
	width: 25%;
	height: 50px;
	background-color: #4792b2;
	border: none;
	border-radius: 0px;
	border-right: solid;
	border-width: 1px;
	border-color: #0069d9;
}

.navfull{
	width: 200%;
}

@media (max-width: 990px) {
	.h2g2{
		
		padding-left: 0px;
	}
	.logo_max{
		
		margin-top: 0px;
	}

	.logo_min{
		height: 25px
	}

	.navTypo{
		font-size: 100%;
	}

	.navfull{
		width: 100%;
	}

}

@media (max-width: 600px) {
	.h2g2{
		font-size: 130%;
	}

	.navTypo{
		font-size: 60%;
		text-align: center;
		margin: auto;
	}

	.logo_min{
		display: none;
	}
	
	.btn, .nabvtn{
		height: 30px;
	}
	



}

.row {

    margin-right: -25px;
    margin-left: -8px;
}